<div id='header container'>
  <h1>Listing Students</h1>
</div>


<% content_for :head do %>
<base href="/">
<% end %>
 
<app-root>Loading...</app-root>
 

<%= javascript_include_tag "angular-front-end/inline.bundle" %>
<%= javascript_include_tag "angular-front-end/polyfills.bundle" %>
<%= javascript_include_tag "angular-front-end/styles.bundle" %>
<%= javascript_include_tag "angular-front-end/vendor.bundle" %>
<%= javascript_include_tag "angular-front-end/main.bundle" %>
 



